/** EleAdmin Icons License By http://eleadmin.com */
$--ele-font-path: 'fonts' !default;

// element-ui的icon.scss和transition.scss不需要参与换主题所以在这里引用
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/icon.scss";
@import "~element-ui/packages/theme-chalk/src/common/transition.scss";

@font-face {
  font-family: "ele-icon";
  src: url('#{$--ele-font-path}/eleadmin-icons.woff') format('woff'),
  url('#{$--ele-font-path}/eleadmin-icons.ttf') format('truetype');
}

body [class^="el-icon-_"], body [class*="el-icon-_"] {
  font-family: "ele-icon" !important;
}

.el-icon-_trophy-solid:before {
  content: "\e867";
}

.el-icon-_man:before {
  content: "\e8c2";
}

.el-icon-_unfold:before {
  content: "\e7f3";
}

.el-icon-_fold:before {
  content: "\e7f4";
}

.el-icon-_nav:before {
  content: "\e7f5";
}

.el-icon-_postcard-solid:before {
  content: "\e860";
}

.el-icon-_game-solid:before {
  content: "\e72b";
}

.el-icon-_lock-solid:before {
  content: "\e637";
}

.el-icon-_unlock-solid:before {
  content: "\e661";
}

.el-icon-_vercode-solid:before {
  content: "\e66a";
}

.el-icon-_refund-solid:before {
  content: "\e632";
}

.el-icon-_email-solid:before {
  content: "\eb34";
}

.el-icon-_money-solid:before {
  content: "\e6b3";
}

.el-icon-_brush-solid:before {
  content: "\e619";
}

.el-icon-_compute-solid:before {
  content: "\e630";
}

.el-icon-_live-solid:before {
  content: "\e6da";
}

.el-icon-_pie-chart-solid:before {
  content: "\e6e5";
}

.el-icon-_evaluate-solid:before {
  content: "\e88b";
}

.el-icon-_car-sloid:before {
  content: "\e627";
}

.el-icon-_printer-solid:before {
  content: "\e6bb";
}

.el-icon-_retrieve-solid:before {
  content: "\e695";
}

.el-icon-_palette-solid:before {
  content: "\e9c7";
}

.el-icon-_puzzle-solid:before {
  content: "\ea20";
}

.el-icon-_tag-sloid:before {
  content: "\eaf1";
}

.el-icon-_bank-card-solid:before {
  content: "\e6b7";
}

.el-icon-_prerogative-solid:before {
  content: "\e722";
}

.el-icon-_prerogative2-solid:before {
  content: "\e7c8";
}

.el-icon-_bus-sloid:before {
  content: "\e608";
}

.el-icon-_service-solid:before {
  content: "\e61a";
}

.el-icon-_news-solid:before {
  content: "\e61b";
}

.el-icon-_time-solid:before {
  content: "\e61c";
}

.el-icon-_red-packet-solid:before {
  content: "\e629";
}

.el-icon-_ticket-sloid:before {
  content: "\e62f";
}

.el-icon-_analysis-solid:before {
  content: "\e636";
}

.el-icon-_shopping-cart-sloid:before {
  content: "\e63b";
}

.el-icon-_truck-sloid:before {
  content: "\e641";
}

.el-icon-_database-solid:before {
  content: "\e642";
}

.el-icon-_present-sloid:before {
  content: "\e607";
}

.el-icon-_camera2-solid:before {
  content: "\e611";
}

.el-icon-_target-sloid:before {
  content: "\e617";
}

.el-icon-_user-group-solid:before {
  content: "\e62c";
}

.el-icon-_horn-sloid:before {
  content: "\e633";
}

.el-icon-_prerogative3-solid:before {
  content: "\e63a";
}

.el-icon-_help:before {
  content: "\e7fe";
}

.el-icon-_folder:before {
  content: "\e85e";
}

.el-icon-_folder-open:before {
  content: "\e85f";
}

.el-icon-_loading:before {
  content: "\e73d";
}

.el-icon-_usd:before {
  content: "\e606";
}

.el-icon-_rmb:before {
  content: "\e634";
}

.el-icon-_face-cry:before {
  content: "\e6b8";
}

.el-icon-_face-smile:before {
  content: "\e616";
}

.el-icon-_back:before {
  content: "\e620";
}

.el-icon-_forward:before {
  content: "\e624";
}

.el-icon-_android:before {
  content: "\e610";
}

.el-icon-_more:before {
  content: "\e618";
}

.el-icon-_state12:before {
  content: "\e605";
}

.el-icon-_user-add:before {
  content: "\e687";
}

.el-icon-_retrieve:before {
  content: "\e6c6";
}

.el-icon-_database:before {
  content: "\e6e4";
}

.el-icon-_target:before {
  content: "\e623";
}

.el-icon-_tree:before {
  content: "\e61e";
}

.el-icon-_fire-solid:before {
  content: "\e6be";
}

.el-icon-_barcode:before {
  content: "\e71a";
}

.el-icon-_api:before {
  content: "\e71c";
}

.el-icon-_number:before {
  content: "\e742";
}

.el-icon-_pushpin:before {
  content: "\e746";
}

.el-icon-_qrcode:before {
  content: "\e747";
}

.el-icon-_percentage:before {
  content: "\e7e2";
}

.el-icon-_scan:before {
  content: "\e776";
}

.el-icon-_shop:before {
  content: "\e8bb";
}

.el-icon-_github:before {
  content: "\e713";
}

.el-icon-_gitee:before {
  content: "\e6f5";
}

.el-icon-_wifi:before {
  content: "\e7e0";
}

.el-icon-_compress:before {
  content: "\e914";
}

.el-icon-_evaluate:before {
  content: "\e673";
}

.el-icon-_wallet:before {
  content: "\e626";
}

.el-icon-_refund:before {
  content: "\e628";
}

.el-icon-_red-packet:before {
  content: "\e62a";
}

.el-icon-_footprint:before {
  content: "\e631";
}

.el-icon-_school:before {
  content: "\e622";
}

.el-icon-_battery:before {
  content: "\e63d";
}

.el-icon-_setting-solid:before {
  content: "\e708";
}

.el-icon-_recycle:before {
  content: "\e7d6";
}

.el-icon-_terminal:before {
  content: "\e849";
}

.el-icon-_usb:before {
  content: "\e87c";
}

.el-icon-_zoom-out:before {
  content: "\e64d";
}

.el-icon-_zoom-in:before {
  content: "\e64e";
}

.el-icon-_bug:before {
  content: "\e690";
}

.el-icon-_feedback:before {
  content: "\e683";
}

.el-icon-_wechat:before {
  content: "\e60e";
}

.el-icon-_taobao:before {
  content: "\e692";
}

.el-icon-_alipay:before {
  content: "\e694";
}

.el-icon-_qqzone:before {
  content: "\e698";
}

.el-icon-_zhihu:before {
  content: "\e69c";
}

.el-icon-_twitter:before {
  content: "\e6a1";
}

.el-icon-_weibo:before {
  content: "\e6a5";
}

.el-icon-_qq:before {
  content: "\e6a6";
}

.el-icon-_wxzone:before {
  content: "\e6a7";
}

.el-icon-_recommend:before {
  content: "\e658";
}

.el-icon-_walk:before {
  content: "\e8e7";
}

.el-icon-_woman:before {
  content: "\e8ea";
}

.el-icon-_airplane:before {
  content: "\e88e";
}

.el-icon-_bluetooth:before {
  content: "\e896";
}

.el-icon-_bug-solid:before {
  content: "\e89a";
}

.el-icon-_fingerprint:before {
  content: "\e8ad";
}

.el-icon-_signal:before {
  content: "\e8d3";
}

.el-icon-_transgender:before {
  content: "\e8e2";
}

.el-icon-_trending-down:before {
  content: "\e8e3";
}

.el-icon-_trending-up:before {
  content: "\e8e4";
}

.el-icon-_school-solid:before {
  content: "\e8dc";
}

.el-icon-_globe:before {
  content: "\e72c";
}

.el-icon-_network:before {
  content: "\e7e4";
}

.el-icon-_bluetooth-solid:before {
  content: "\e741";
}

.el-icon-_signal-box:before {
  content: "\e666";
}

.el-icon-_state1:before {
  content: "\e601";
}

.el-icon-_state2:before {
  content: "\e602";
}

.el-icon-_state3:before {
  content: "\e603";
}

.el-icon-_state4:before {
  content: "\e604";
}

.el-icon-_state5:before {
  content: "\e609";
}

.el-icon-_state6:before {
  content: "\e60b";
}

.el-icon-_state7:before {
  content: "\e60f";
}

.el-icon-_state8:before {
  content: "\e612";
}

.el-icon-_state9:before {
  content: "\e613";
}

.el-icon-_state10:before {
  content: "\e614";
}

.el-icon-_state11:before {
  content: "\e615";
}

.el-icon-_love:before {
  content: "\e654";
}

.el-icon-_quote2:before {
  content: "\e6b2";
}

.el-icon-_quote1:before {
  content: "\e6b4";
}

.el-icon-_service:before {
  content: "\e6bd";
}

.el-icon-_dis:before {
  content: "\e670";
}

.el-icon-_like:before {
  content: "\e672";
}

.el-icon-_like-solid:before {
  content: "\e693";
}

.el-icon-_dis-solid:before {
  content: "\e697";
}

.el-icon-_heart:before {
  content: "\e6ac";
}

.el-icon-_heart-solid:before {
  content: "\e6ad";
}

.el-icon-_flash:before {
  content: "\ea45";
}

.el-icon-_rocket:before {
  content: "\e600";
}

.el-icon-_date-end:before {
  content: "\e62b";
}

.el-icon-_date-start:before {
  content: "\e62e";
}

.el-icon-_fire:before {
  content: "\e72f";
}

.el-icon-_ie:before {
  content: "\e727";
}

.el-icon-_pad:before {
  content: "\e63c";
}

.el-icon-_wxpay:before {
  content: "\e61f";
}

.el-icon-_setting:before {
  content: "\e677";
}

.el-icon-_medkit-solid:before {
  content: "\e7ec";
}

.el-icon-_warning-solid:before {
  content: "\e70f";
}

.el-icon-_warning:before {
  content: "\e763";
}

.el-icon-_vercode:before {
  content: "\e667";
}

.el-icon-_battery-full:before {
  content: "\e8cf";
}

.el-icon-_backspace-solid:before {
  content: "\e77b";
}

.el-icon-_screen-restore:before {
  content: "\e729";
}

.el-icon-_programme:before {
  content: "\e62d";
}

.el-icon-_eye-close:before {
  content: "\e669";
}

.el-icon-_palette:before {
  content: "\e66e";
}

.el-icon-_lamp:before {
  content: "\e6e3";
}

.el-icon-_snow:before {
  content: "\e8a3";
}

.el-icon-_flask:before {
  content: "\e8b1";
}

.el-icon-_flash-solid:before {
  content: "\e771";
}

.el-icon-_temperature:before {
  content: "\e621";
}

.el-icon-_infinite:before {
  content: "\e7df";
}

.el-icon-_cube:before {
  content: "\e6d0";
}

.el-icon-_sent:before {
  content: "\e60d";
}

.el-icon-_nuclear:before {
  content: "\e853";
}

.el-icon-_leaf:before {
  content: "\e668";
}

.el-icon-_prerogative:before {
  content: "\e61d";
}

.el-icon-_windows:before {
  content: "\e898";
}

.el-icon-_aite:before {
  content: "\e60a";
}

.el-icon-_ios:before {
  content: "\e60c";
}

.el-icon-_table:before {
  content: "\e66d";
}

.el-icon-_music:before {
  content: "\e671";
}

.el-icon-_camera:before {
  content: "\e678";
}

.el-icon-_video:before {
  content: "\e679";
}

.el-icon-_component:before {
  content: "\e67e";
}

.el-icon-_upload:before {
  content: "\e688";
}

.el-icon-_user-group:before {
  content: "\e68c";
}

.el-icon-_download:before {
  content: "\e68d";
}

.el-icon-_transfer:before {
  content: "\e691";
}

.el-icon-_filter:before {
  content: "\e69a";
}

.el-icon-_timeline:before {
  content: "\e69b";
}

.el-icon-_code:before {
  content: "\e6a0";
}

.el-icon-_cols:before {
  content: "\e6b6";
}

.el-icon-_info:before {
  content: "\e6bf";
}

.el-icon-_question:before {
  content: "\e6c0";
}

.el-icon-_compute:before {
  content: "\e6c1";
}

.el-icon-_back-top:before {
  content: "\e6c4";
}

.el-icon-_condition:before {
  content: "\e6d8";
}

.el-icon-_save:before {
  content: "\e6d9";
}

.el-icon-_bus:before {
  content: "\e6fa";
}

.el-icon-_fly:before {
  content: "\e6fb";
}

.el-icon-_car:before {
  content: "\e6fc";
}

.el-icon-_function:before {
  content: "\e6fd";
}

.el-icon-_straw:before {
  content: "\e702";
}

.el-icon-_salary:before {
  content: "\e70d";
}

.el-icon-_appointment-ok:before {
  content: "\e710";
}

.el-icon-_appointment:before {
  content: "\e711";
}

.el-icon-_share:before {
  content: "\e712";
}

.el-icon-_backspace:before {
  content: "\e715";
}

.el-icon-_font-size:before {
  content: "\e725";
}

.el-icon-_font-family:before {
  content: "\e726";
}

.el-icon-_language-solid:before {
  content: "\e72a";
}

.el-icon-_surveying:before {
  content: "\e733";
}

.el-icon-_hammer:before {
  content: "\e735";
}

.el-icon-_chrome:before {
  content: "\e736";
}

.el-icon-_screen-full:before {
  content: "\e73c";
}

.el-icon-_brush:before {
  content: "\e759";
}

.el-icon-_connecting-line:before {
  content: "\e75b";
}

.el-icon-_keyboard:before {
  content: "\e75f";
}

.el-icon-_command-ios:before {
  content: "\e760";
}

.el-icon-_logout:before {
  content: "\e766";
}

.el-icon-_language:before {
  content: "\e769";
}

.el-icon-_template:before {
  content: "\e76a";
}

.el-icon-_var:before {
  content: "\e772";
}

.el-icon-_menu:before {
  content: "\e773";
}

.el-icon-_rss:before {
  content: "\e808";
}

.el-icon-_mate:before {
  content: "\e786";
}

.el-icon-_horn:before {
  content: "\e7b4";
}

.el-icon-_visa:before {
  content: "\e78c";
}

.el-icon-_horn-close:before {
  content: "\e63e";
}

.el-icon-_integral:before {
  content: "\e6ff";
}

.el-icon-_integral-solid:before {
  content: "\e728";
}